* {
    margin: 0;
    padding: 0;
    max-width: 1440px;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

/* HEADER */
.header {
    height: 100vh;
    background-image: url(images/desktop/image-header.jpg);
    background-position: center bottom;
    background-size: cover;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-top: 5px;
}

#img-logo {
    width: 150px;
    display: block;
    align-self: center;
    margin-left: 50px;
    
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0.4em;
    margin-right: 40px;
}

.nav-link {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.4rem;
    margin: 0 10px;    
}

.nav-link#contato {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    background: white;
    border-radius: 1.5em;
    padding: 1rem 1.5rem;
}

.nav-link:hover {
    color: rgb(15, 121, 182);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text1 {
    font-family: 'Fraunces', serif;
    font-size: 3em;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: block;
    color: white;
    text-align: center;
    margin-top: 50px;
}

#arrow {
    margin-top: 2rem;
}

/* SECTION 1 */
.section1 {
    display: flex;
}

.section1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text, .img-container {
    flex: 50%;
}

.section1 .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 .text-container {
    width: 67%;
}

.section1 h1 {
    font-family: 'Fraunces', serif;
    font-size: 40px;
    width: 80%;
}

.section1 span {
    font-family: 'Fraunces', serif;
    font-size: 15px;
    text-transform: uppercase;
}

.section1 a{
    text-decoration: none;
    color: black;
}

.section1 a:hover {
    background: linear-gradient(
        to bottom,
        transparent 60%,
        hsl(51, 100%, 49%) 40%        
    );
}

.section1 p {
    margin: 30px 0;
    line-height: 1.5em;
    color: hsl(210, 4%, 67%);
}

/* SECTION 2 */
.section2 {
    display: flex;
}

.section2 img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.section2 .container {
    position: relative;
}

.container-text {
    position: absolute;
    top: 65%;
    text-align: center;
}

.container-text h1 {
    font-family: 'Fraunces', serif;
} 

.container-text p{
    padding: 1.5rem 8rem 1.5rem;
    line-height: 1.5em;
}

#left {
    color: hsl(167, 40%, 24%);
}

#right {
    color: hsl(198, 62%, 26%);
}

/* TESTIMONIALS */
.testimonials {
    padding: 7em;
}
.testimonials h1 {
    font-family: 'Fraunces', serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 5rem;
}

.container2 {
    display: flex;
    text-align: center;
}

.container2 p {
    padding: 2rem 1rem;
    color: hsl(232, 10%, 55%)
}

.container2 h2 {
    font-family: 'Fraunces', serif;
    font-size: 18px;
    margin-bottom: 8px;
}

.container2 h3 {
    color: hsl(210, 4%, 67%);
    font-size: 18px;
}

.container2 img {
    border-radius: 50%;
    width: 4.5em;
    margin-bottom: 1em;
}

/* SECTION 3 */
.img-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.img-container>div {
    flex: 25%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FOOTER */
footer {
    background-color: hsl(168, 44%, 73%);
    height: 300px;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.footer-logo {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

.footer-logo img {
    width: 10em;
    align-self: center;

}

.nav-footer>.nav-links {
    margin: 0;
    flex-basis: 100%;
}

.nav-footer .nav-link {
    color: hsl(168, 34%, 41%);
}

.nav-footer .nav-link:hover {
    color: white;
}

.social {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
}